<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
  <body style="background-image: url('');background-size: cover;">
    <div style="margin-top:90px ;">
      <% if(error_msg !='' ){ %>
        <div class="notification is-danger is-light" 
        style="margin-top: 55px;font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 18px;"
            style="margin-top: 100px;">
            <%= error_msg %>
        </div>
          <% } %>
          <% if(success_msg !='' ){ %>
            <div class="notification is-success is-light" 
            style="margin-top: 55px;font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 18px;"
                style="margin-top: 100px;">
                <%= success_msg %>
            </div>
              <% } %>
    </div>
   
    <div class="columns is-multiline" >
      <% players.forEach(function(player) { %>
      <div class="column is-one-quarter">
        <div class="card-index">
          <div class="image-container-index">
            <div id="image-slider">
              <div>
                <a href="<%= player.images[0] %>" data-lightbox="image-gallery" data-title="Image 0">
                  <img src="<%= player.images[0] %>" class="d-block w-100" alt="Image 0">
                </a>
              </div>
            </div>
          </div>
          <div class="card-content-index">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= player.name %></p>
                <p class="subtitle is-6"><%= player.nation.name %></p>
              </div>
            </div>
            <a href="/players/<%=player.id%>" class="btn btn-info" style="width: 100%;">Thông tin chi tiết</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    
 
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        lightbox.option({
          'resizeDuration': 200,
          'wrapAround': true
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  </body>
  <%- include ('./patials/footer') %>
</html>