<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>

    <body style="background-image: url('https://pbs.twimg.com/amplify_video_thumb/1010946076902293506/img/3wqJP6Lr6uh4uCL0.jpg:large');background-size: cover;">
      
 
        <a class="button is-primary button-create-category responsive-button-category" 
        onClick="document.querySelector('#popup').classList.add('is-active')">
            Tạo mới sản phẩm
          </a>
        <% if(error_msg !='' ){ %>
            <div class="notification is-danger is-light"
            style="margin-top: 55px;font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 18px;">
                <%= error_msg %>
            </div>
            <% } %>

                <!-- Popup -->
                <div id="popup2" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head" style="background-color: hsl(171, 100%, 41%)">
                            <p class="modal-card-title" style="text-align: center; font-weight: 700;"> Thêm loại sản phẩm
                            </p>
                            <button class="delete" aria-label="close"
                                onclick="document.querySelector('#popup2').classList.remove('is-active')"></button>
                        </header>
                        <section class="modal-card-body">
                            <% if (successMessage) { %>
                                <div class="notification is-success">
                                  <%= successMessage %>
                                </div>
                              <% } %>
                            <form method="post" action="/nations">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Tên loại sản phẩm</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-info" required name="name" type="text"
                                                    placeholder="e.g. Mainbroad">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Mô tả loại sản phẩm</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <!-- <input class="input is-info" required name="description" type="text"
                                            placeholder="Let's description"> -->
                                                <textarea class="textarea" placeholder="Hãy viết mô tả hoặc bỏ qua"
                                                    name="description"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal" style="margin-left: 120px;">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-primary" type="submit"
                                                    style="font-weight: 700">
                                                    Tạo mới 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>

                <!-- table content -->

        
        <div id="search-results" style="display: flex; justify-content: center">
            <div class="table-container">
                        <table
                        id="mytable"
                        class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                        style="width: 1000px">
                      
                            <thead style="height: 40px; background-color: aqua;">
                                <tr>
                                    <th style="text-align: center;">Tên sản phẩm </th>
                                    <th style="text-align: center;">Mô tả </th>
                                    <th style="text-align: center;">Actions</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center">
                                <% nations.forEach(function(nation) { %>
                                    <tr>
                                        <td style="padding-top: 18px;">
                                            <%= nation.name %>
                                        </td>
                                    
                                        <td style="padding-top: 18px;">
                                            <%= nation.description %>
                                        </td>
                                        <td>
                                            <div class="buttons are-small">
                                                <a href="/nations/edit/<%=nation.id %>"><button
                                                        class="btn btn-primary" style="margin: 3px;">Chỉnh sửa</button></a>
                                                <a href="/nations/delete/<%=nation.id %>"><button
                                                        onclick="return confirm('Are you sure ???')"
                                                        class="btn btn-danger"style="margin: 3px;">Xóa</button></a>
                                            </div></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- popup -->

    </body>
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
        document.addEventListener('DOMContentLoaded', function () {
            // Get all "dropdown" elements
            var dropdowns = Array.prototype.slice.call(document.querySelectorAll('.dropdown'), 0);

            // Loop through all dropdowns and bind click event
            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('click', function (event) {
                    event.stopPropagation();
                    dropdown.classList.toggle('is-active');
                });
            });

            // Close dropdowns when clicking outside
            document.addEventListener('click', function (event) {
                closeDropdowns();
            });

            function closeDropdowns() {
                dropdowns.forEach(function (dropdown) {
                    dropdown.classList.remove('is-active');
                });
            }
        });       
    </script>

</html>